<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.andrew.gettingstarted.scriptfilteroutput</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD589ACC-11F3-411D-B6A2-1C846D223AA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD589ACC-11F3-411D-B6A2-1C846D223AA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8D821EB8-7C2B-4F73-A977-C284F65E28D1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>webxmsj</string>
	<key>description</key>
	<string>switch proxy for mac</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Script Filter - Getting Started</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./proxy --type "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CD589ACC-11F3-411D-B6A2-1C846D223AA4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>proxy</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./proxy</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>proxy</string>
				<key>subtext</key>
				<string>切换代理状态</string>
				<key>title</key>
				<string>代理状态切换</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>50B0CD10-4D52-4898-9C05-DD3A34A829C3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>状态</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8D821EB8-7C2B-4F73-A977-C284F65E28D1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>支持系统代理切换, 读取用户配置文件~/.proxyswitcher.rc</string>
	<key>uidata</key>
	<dict>
		<key>50B0CD10-4D52-4898-9C05-DD3A34A829C3</key>
		<dict>
			<key>note</key>
			<string>支持系统代理切换, 读取用户配置文件~/.proxyswitcher.rc</string>
			<key>xpos</key>
			<real>35</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>8D821EB8-7C2B-4F73-A977-C284F65E28D1</key>
		<dict>
			<key>xpos</key>
			<real>355</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>CD589ACC-11F3-411D-B6A2-1C846D223AA4</key>
		<dict>
			<key>xpos</key>
			<real>195</real>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://www.alfredapp.com</string>
</dict>
</plist>
